body{background-color: rgb(129, 210, 248);}
h1{color: #e3600fed;font-size: xx-large;}
h2{color: #e3600fed;font-size: x-large;}
ul{font-style: italic;}

a:visited{color:#7c0fe3ed}
table{border-collapse: collapse; width: 450px; height: 100px; border-style: solid; border-width:3px; border-color: black}
th,td{border-style: solid; padding: 10px}


